<h1>出勤中の社員</h1>

<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th class="text-center">社員番号</th>
      <th class="text-center">名前</th>
    </tr>
  </thead>
  <tbody>
    <% @working_users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>