@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}

/* 勤怠一覧表示のカレンダー */

.saturday {
  color: blue;
}

.sunday {
  color: red;
}


.input-group-append {
  display: flex;
}

.input-group-append > .btn {
  margin-left: -1px;
}

/* ユーザー名検索フォーム */
.search-heading {
  font-weight: bold;
}
.user-item {
  border-bottom: none; /* 下線を削除 */
  margin-bottom: 20px;  /* 必要に応じて値を調整してください */
}

.edit-button-container {
  background-color: #f5f5f5; /* グレー色 */
  padding: 10px 0; /* 上下のスペースの余白を設定 */
}

.edit-button-custom {
  margin-left: 15px;
}

.username-custom {
  margin-bottom: 0px; /* あるいは適切な値に調整してください */
}

.delete-button-custom {
  margin-top: -13px; /* あるいは適切な値に調整してください */
}

.left-aligned-label {
  text-align: left;
}

.modal-title-centered {
    text-align: center;
}

td {
  text-align: center;
  vertical-align: middle;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* 上下左右のパディングを調整 */
}

.modal-title.text-center {
  text-align: center;
  width: 100%;
}

.modal-title {
  font-size: 20px; /* フォントサイズを調整 */
}

.modal-dialog {
    margin-top: 12%;
}

.modal-body input[type="time"],
  .modal-body textarea {
    width: 100%;
}

input[type="time"].rounded-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 5px;
}

.rounded-input {
    border-radius: 5px; /* これが角を丸くするスタイルです。値を大きくするとより丸くなります。 */
}

.rounded-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}
